In [3]:
import pandas as pd

In [16]:
rating_movie = pd.read_csv('ratings.csv')
rating_movie.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
def watcher(param):
    return param == 1

In [18]:
rating_movie['example'] = rating_movie['userId'].apply(watcher) # питон берет значение столбца userId через функцию watcher 
#а результат записывать в новый стобец example 

rating_movie.head()

   userId  movieId  rating  timestamp  example
0       1        1     4.0  964982703     True
1       1        3     4.0  964981247     True
2       1        6     4.0  964982224     True
3       1       47     5.0  964983815     True
4       1       50     5.0  964982931     True

In [25]:
#в примере выше нам нужен был только столбец, а если нам нужно использлвать всю строку, т е несколько столбцов 

# df.apply(conver, axis = 1)

# axis = 1 перебор по строкам 
# axis = 0 перебер по столбцам 
def conv(param):
    return param['rating'] * param['movieId']

rating_movie['ex2'] = rating_movie.apply(conv, axis = 1)
rating_movie.head()

   userId  movieId  rating  timestamp  example    ex2
0       1        1     4.0  964982703     True    4.0
1       1        3     4.0  964981247     True   12.0
2       1        6     4.0  964982224     True   24.0
3       1       47     5.0  964983815     True  235.0
4       1       50     5.0  964982931     True  250.0

In [26]:
 marketing = pandas.read_excel('ad_campaigns.xlsx')

In [27]:
marketing.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

In [28]:
marketing.columns = ['group', 'phrase', 'effect', 'ad_id', 'title', 'text', 'link'] #переименовать столбцы

In [35]:
marketing['effect']

0       4.5
1       4.5
2       7.4
3       5.0
4       5.0
       ...
2154    7.4
2155    7.2
2156    7.4
2157    8.7
2158    8.7
Name: effect, Length: 2159, dtype: float64

In [32]:
marketing.loc[3, 'effect']

5.0

In [33]:
marketing.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'